<h4>Formulario de tab 2</h4>
<div class="container">
	<form style="padding: 12px;" name="form2" [formGroup]="form2">
	  <div class="form-group row" >
	    <label for="campo1" class="col-sm-2 col-form-label">Campo 1</label>
	    <div class="col-sm-10">
	      <input 
	      	type="text" 
	      	class="form-control" 
	      	required
	      	formControlName="campo1"
	      	[ngClass]="{'is-invalid': form2.get('campo1').touched && form2.get('campo1').invalid} || {'is-valid': form2.get('campo1').valid && form2.get('campo1').touched}"
	      	/>
	      <div class="invalid-feedback " >
	      	<div class="alert alert-danger"> Campo1 es requerido, ingrese al menos 4 caracteres</div>
	      </div>
	      <div class="valid-feedback " >
	      	<div class="alert alert-light"> Excelente!!!</div>
	      </div>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="campo2" class="col-sm-2 col-form-label">Campo 2</label>
	    <div class="col-sm-10">
	      <input 
	      	type="text" 
	      	class="form-control"
	      	formControlName="campo2"
	      	[ngClass]=" {'ins-invalid': form2.get('campo2').touched && form2.get('campo2').invalid} " 
	      	required 
	      	/>
	      <div class="invalid-feedback">
	      	<div class="alert alert-danger"> Campo2 es requerido</div>
	      </div>
	      <br>
	    </div>
	  </div>
	  <div *ngIf=" form2.status == 'INVALID' ">
    	<div class="alert alert-danger">El formulario es inválido - Por favor, rellene los campos</div>
    </div>
    <div *ngIf=" form2.status == 'VALID' ">
    	<div class="alert alert-success">El formulario es válido</div>
    </div>
	  <br>
		
	</form>

	<div>
		<a routerLink="/home/tab1" class="btn btn-info btn-sm ">Regresar a pantalla 1</a>
	</div>

</div>