/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.style-nav {
	padding: 15px;
}

.img-text {
  font-weight:bold;
  font-size:2em;
  color:#f4f4f4;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
/*.active {
	background-color: #7d83cf;
}*/

