<div class="container center">
	<div class="card">
		<div class="header">
			<h4 class="card-title">Ejercicio</h4>
			<div class="body">
			  <tabset>
				  <tab heading="Tab 1" >
				  	<tab1></tab1>
				  </tab>
				  <tab heading="Tab 2" >Basic content 1</tab>
				</tabset>
				<div class="row">
					<div class="col-6"><a routerLink="/home/tab1" class="btn btn-info btn-sm">Ir a pantalla 1</a></div>
					<div class="col-6"><a routerLink="/home2/tab1" class="btn btn-info btn-sm">Ir a pantalla 2</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" routerLink="/home/tab1" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    <li class="page-item"><a class="page-link" routerLink="/home/tab1">1</a></li>
	    <li class="page-item"><a class="page-link" routerLink="/home2/tab1">2</a></li>
	    <li class="page-item">
	      <a class="page-link" routerLink="/home2/tab1" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>














<!--The content below is only a placeholder and can be replaced.-->
<!-- <h4>Formulario de tab 1</h4>
<div class="container">
	<form style="padding: 12px;" name="form" [formGroup]="form">
	  <div class="form-group row" >
	    <label for="campo1" class="col-sm-2 col-form-label">Campo 1</label>
	    <div class="col-sm-10">
	      <input 
	      	type="text" 
	      	class="form-control"
	      	value="" 
	      	required
	      	formControlName="campo1"
	      	[ngClass]="{'is-invalid': form.get('campo1').touched && form.get('campo1').invalid} || {'is-valid': form.get('campo1').valid && form.get('campo1').touched}"
	      	/>
	      <div class="invalid-feedback " >
	      	<div class="alert alert-danger"> Campo1 es requerido, ingrese al menos 4 caracteres</div>
	      </div>
	      <div class="valid-feedback " >
	      	<div class="alert alert-light"> Excelente!!!</div>
	      </div>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="campo2" class="col-sm-2 col-form-label">Campo 2</label>
	    <div class="col-sm-10">
	      <input 
	      	type="text" 
	      	class="form-control"
	      	value="" 
	      	formControlName="campo2"
	      	[ngClass]=" {'ins-invalid': form.get('campo2').touched && form.get('campo2').invalid} " 
	      	required 
	      	/>
	      <div class="invalid-feedback">
	      	<div class="alert alert-danger"> Campo2 es requerido</div>
	      </div>
	      <br>
	    </div>
	  </div>
	  <div *ngIf=" form.status == 'INVALID' ">
    	<div class="alert alert-danger">El formulario es inválido - Por favor, rellene los campos</div>
    </div>
    <div *ngIf=" form.status == 'VALID' ">
    	<div class="alert alert-success">El formulario es válido</div>
    </div>
	  <br>
		
	</form>

	<div>
		<a routerLink="/home2/tab1" class="btn btn-info btn-sm">Ir a pantalla 2</a>
	</div>

</div> -->